# server.port ->
spring.datasource.url=
spring.datasource.username=postgre
spring.datasource.password=
spring.datasource.driver-class-name=

# use only on enviroment, otherwise remove
spring.jpa.hibernate.ddl-auto=update

# will show the queries from hibernate on terminal
spring.jpa.show-sql=true

# JWT
auth.jwt.secret=

#15 minutes -> 900000
auth.jwt.expiration=900000

#24 hours -> 86400000
auth.refreshjwt.expiration=86400000